@using System.Globalization

@model ProjectModel
<div id="editProjectDropdown-@Model.ProjectId" class="project-dropdown">
    <div class="edit-dropdown-container">

        <div id="edit-dropdown" class="edit-dropdown">
            <div class="edit-dropdown-item"
                 type="button"
                 data-modal="true"
                 data-target="#editProjectModal"
                 data-id="@Model.ProjectId"
                 data-image="@Model.ProjectImageUrl"
                 data-name="@Model.ProjectName"
                 data-description="@Model.Description"
                 data-startdate="@Model.StartDate.ToString("yyyy-MM-dd")"
                 data-enddate="@Model.EndDate?.ToString("yyyy-MM-dd")"
                 data-budget="@(Model.Budget?.ToString("0.##", CultureInfo.InvariantCulture) ?? "10")"
                 data-clientid="@Model.ClientId"
                 data-statusid="@Model.StatusId">

                <i class="fa-duotone fa-regular fa-pen-to-square"></i>
                <p>Edit</p>
            </div>


            <div class="edit-dropdown-item"
                 type="button"
                 data-modal="true"
                 data-target="#addMemberToProjectModal"
                 data-id="@Model.ProjectId"
                 data-name="@Model.ProjectName">

                <i class="fa-duotone fa-solid fa-user-plus"></i>
                <p>Add Member</p>
            </div>

            <div class="divider"></div>

            <div class="edit-dropdown-item"
                 data-modal="true"
                 data-target="#deleteProjectModal"
                 data-id="@Model.ProjectId"
                 data-name="@Model.ProjectName">

                <i class="fa-duotone fa-solid fa-trash"></i>
                <p>Delete Project</p>
            </div>
        </div>

    </div>
</div>