@model UserModel



<div class="surface-20">

    <div class="align-right">
        <i class="fa-regular fa-ellipsis cursor" data-modal="true" data-target="#editMemberModal"></i>
    </div>

    <div class="project-form-container text-center">

        <div class="image-container circle">
            <img id="image-preview" src="~/images/avatar-standard.svg" />
        </div>

        <h4>@Model.FirstName @Model.LastName</h4>
        <p class="job-title-container">@Model.JobTitle</p>
        <p class="mt-4">@Model.Email</p>
        <p class="mt-4">@Model.Phone</p>
        <button class="button btn-gray mt-4">Message</button>
    </div>
</div>