@model AddMemberModel

<div id="addMemberModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>New Member</h3>
            <button type="button" class="button-close" data-close="true"></button>
        </div>

        <form asp-controller="Member" asp-action="AddMember" method="post" class="js-form" enctype="multipart/form-data" novalidate>

            <div class="image-preview-container circle">
                <img src="#" class="image-preview d-none" />
                <input asp-for="ProfileImage" accept="image/*" class="d-none" />
            </div>

            <div class="name-container mt-4">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <div class="field-group">
                        <input asp-for="LastName" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Phone"></label>
                <div class="field-group">
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="JobTitle"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="address-container">
                <div class="form-group">
                    <label asp-for="Address.StreetName"></label>
                    <div class="field-group">
                        <input asp-for="Address.StreetName" />
                        <span asp-validation-for="Address.StreetName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address.StreetNumber"></label>
                    <div class="field-group">
                        <input asp-for="Address.StreetNumber" />
                        <span asp-validation-for="Address.StreetNumber"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address.PostalCode"></label>
                    <div class="field-group">
                        <input asp-for="Address.PostalCode" />
                        <span asp-validation-for="Address.PostalCode"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address.City"></label>
                    <div class="field-group">
                        <input asp-for="Address.City" />
                        <span asp-validation-for="Address.City"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">

                <label>Date of Birth</label>

                <div class="date-container">
                    <div class="form-group">
                        <select asp-for="SelectedDay" asp-items="@(new SelectList(Model?.Days))" required>
                            <option value="" disabled selected>Day</option>
                        </select>
                        <span asp-validation-for="SelectedDay"></span>
                    </div>

                    @* <div class="form-group"> *@
                    @*     <select asp-for="DateOfBirth.SelectedMonth" asp-items="@(new SelectList(Model?.DateOfBirth.Months))"> *@
                    @*         <option value="" disabled selected>Month</option> *@
                    @*     </select> *@
                    @*     <span asp-validation-for="DateOfBirth.SelectedMonth"></span> *@
                    @* </div> *@

                    <div class="form-group">
                        <select asp-for="SelectedMonth" required>
                            <option value="" disabled selected>Month</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedMonth"></span>
                    </div>

                    <div class="form-group">
                        <select asp-for="SelectedYear" asp-items="@(new SelectList(Model?.Years))" required>
                            <option value="" class="form-input" disabled selected>Year</option>
                        </select>
                        <span asp-validation-for="SelectedYear"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="field-group">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div id="error-message" class="error-message"></div>

            <button type="submit" class="button btn-blue mt-4">Add Contact</button>
        </form>
    </div>
</div>


                        