@model EditMemberModel

<div id="editMemberModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Edit Member</h3>
            <button type="button" class="button-close" data-close="true"></button>
        </div>

        <form method="post" asp-controller="Member" asp-action="EditMember" class="js-form" novalidate>

            <input asp-for="Id" readonly type="hidden" />

            <div id="image-preview-edit-member-modal-container" class="image-preview-container circle">
                <img src="#" id="image-preview-edit-member-modal" class="image-preview d-none" />
                <input asp-for="ProfileImage" id="ProfileImage_@Model.Id" accept="image/*" class="d-none" type="file" />
            </div>

            <div class="name-container mt-4">
                <div class="form-group">
                    <label asp-for="FirstName" for="FirstName_@Model.Id"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" id="FirstName_@Model.Id" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" for="LastName_@Model.Id"></label>
                    <div class="field-group">
                        <input asp-for="LastName" id="LastName_@Model.Id" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" for="Email_@Model.Id"></label>
                <div class="field-group">
                    <input asp-for="Email" id="Email_@Model.Id" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Phone" for="Phone_@Model.Id"></label>
                <div class="field-group">
                    <input asp-for="Phone" id="Phone_@Model.Id" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="JobTitle" for="JobTitle_@Model.Id"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" id="JobTitle_@Model.Id" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="address-container">
                <div class="form-group">
                    <label asp-for="Address.StreetName" for="Address.StreetName_@Model.Id"></label>
                    <div class="field-group">
                        <input asp-for="Address.StreetName" id="Address.StreetName_@Model.Id" />
                        <span asp-validation-for="Address.StreetName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address.StreetNumber" for="Address.StreetNumber_@Model.Id"></label>
                    <div class="field-group">
                        <input asp-for="Address.StreetNumber" id="Address.StreetNumber_@Model.Id" />
                        <span asp-validation-for="Address.StreetNumber"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address.PostalCode" for="Address.PostalCode_@Model.Id"></label>
                    <div class="field-group">
                        <input asp-for="Address.PostalCode" id="Address.PostalCode_@Model.Id" />
                        <span asp-validation-for="Address.PostalCode"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address.City" for="Address.City_@Model.Id"></label>
                    <div class="field-group">
                        <input asp-for="Address.City" id="Address.City_@Model.Id" />
                        <span asp-validation-for="Address.City"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">

                <label>Date of Birth</label>

                <div class="date-container">
                    <div class="form-group">
                        <label asp-for="SelectedDay" for="SelectedDay_@Model.Id"></label>
                        <select asp-for="SelectedDay" id="SelectedDay_@Model.Id" asp-items="@(new SelectList(Model?.Days))" required>
                            <option value="" disabled selected>Day</option>
                        </select>
                        <span asp-validation-for="SelectedDay"></span>
                    </div>

                    @* <div class="form-group"> *@
                    @*     <select asp-for="DateOfBirth.SelectedMonth" asp-items="@(new SelectList(Model?.DateOfBirth.Months))"> *@
                    @*         <option value="" disabled selected>Month</option> *@
                    @*     </select> *@
                    @*     <span asp-validation-for="DateOfBirth.SelectedMonth"></span> *@
                    @* </div> *@

                    <div class="form-group">
                        <label asp-for="SelectedMonth" for="SelectedMonth_@Model.Id"></label>
                        <select asp-for="SelectedMonth" id="SelectedMonth_@Model.Id" required>
                            <option value="" disabled selected>Month</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedMonth"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SelectedYear" for="SelectedYear_@Model.Id"></label>
                        <select asp-for="SelectedYear" id="SelectedYear_@Model.Id" asp-items="@(new SelectList(Model?.Years))" required>
                            <option value="" class="form-input" disabled selected>Year</option>
                        </select>
                        <span asp-validation-for="SelectedYear"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" for="Password_@Model.Id"></label>
                <div class="field-group">
                    <input asp-for="Password" id="Password_@Model.Id" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <button type="submit" class="button btn-blue mt-4">Save</button>
        </form>

        <button type="button" 
                asp-controller="Member" 
                asp-action="DeleteMember" 
                class="button btn-red mt-4"
                data-modal="true"
                data-target="#deleteMemberModal"
                data-id="@Model.Id"
                data-firstname="@Model.FirstName"
                data-lastname="@Model.LastName">
            Delete  
        </button>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', () => {

        const deleteBtns = document.querySelectorAll('[data-target="#deleteMemberModal"]')
        const deleteMemberModal = document.getElementById('deleteMemberModal')

        const deleteMemberId = document.getElementById('delete-member-id')
        const deleteMemberName = document.getElementById('delete-member-name')


        handleImagePreview({
            imagePreview: 'image-preview-edit-member-modal',
            containerId: 'image-preview-edit-member-modal-container'
        })

        deleteBtns.forEach(btn => {
            btn.addEventListener('click', () => {

                console.log("Clicked button: ", btn);
                console.log("ID: ", btn.dataset.id);
                console.log("Name: ", btn.dataset.firstname, btn.dataset.lastname);


                deleteMemberId.value = btn.dataset.id || ''
                deleteMemberName.textContent = `${btn.dataset.firstname} ${btn.dataset.lastname}` || ''

                const errorMessageContainer = document.getElementById('error-message')
                if(errorMessageContainer) {
                    errorMessageContainer.textContent = ''
                    errorMessageContainer.style.display = 'none'
                }
            })
        })
    })

</script>