@model ClientModel

<tr>
    <td class="client-info">
        <img class="client-image" src="@Model.ClientImage" alt="" />
        <div class="client-name">@Model.ClientName</div>
        <div class="client-email">@Model.Email</div>
    </td>
    <td class="client-location">@Model.Location</td>
    <td class="client-phone">@Model.Phone</td>
    <td class="client-date">@Model.Created</td>

    <td class="client-actions flex">
        <div type="button"
             data-modal="true"
             data-target="#editClientModal"
             data-id="@Model.Id"
             data-image="@Model.ClientImage"
             data-name="@Model.ClientName"
             data-email="@Model.Email"
             data-location="@Model.Location"
             data-phone="@Model.Phone"
             data-image="@Model.ClientImage">
            <i class="fa-duotone fa-regular fa-pen-to-square"></i>
        </div>
        <div class="btn-remove"
             type="button"
             data-modal="true"
             data-target="#deleteClientModal"
             data-id="@Model.Id"
             data-name="@Model.ClientName">

            <i class="fa-duotone fa-solid fa-trash"></i>
         </div>
    </td>
</tr>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const editBtns = document.querySelectorAll('[data-target="#editClientModal"]')
        const editClientModal = document.getElementById('editClientModal')

        const deleteBtns = document.querySelectorAll('[data-target="#deleteClientModal"]')
        const deleteClientId = document.getElementById('delete-client-id')
        const deleteClientName = document.getElementById('delete-client-name')

        editBtns.forEach(btn => {
            btn.addEventListener('click', () => {

                const editClientImagePreviewContainer = editClientModal.querySelector('.image-preview-container')
                const editClientImagePreview = editClientModal.querySelector('#image-preview-edit-client-modal')
                const editClientImage = editClientModal.querySelector('[name="ExistingImage"]')
                const editClientId = editClientModal.querySelector('[name="Id"]')
                const editClientName = editClientModal.querySelector('[name="ClientName"]')
                const editClientEmail = editClientModal.querySelector('[name="Email"]')
                const editClientLocation = editClientModal.querySelector('[name="Location"]')
                const editClientPhone = editClientModal.querySelector('[name="Phone"]')

                editClientImagePreview.classList.remove('d-none')
                editClientImagePreviewContainer.classList.add('selected')

                editClientImage.value = btn.dataset.image
                editClientImagePreview.src = btn.dataset.image || ''
                editClientId.value = btn.dataset.id || ''
                editClientName.value = btn.dataset.name || ''
                editClientEmail.value = btn.dataset.email || ''
                editClientLocation.value = btn.dataset.location || ''
                editClientPhone.value = btn.dataset.phone || ''
            })
        })

        deleteBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                deleteClientId.value = btn.dataset.id || ''
                deleteClientName.textContent = btn.dataset.name
            })
        })
    })

</script>



