@model UserModel

<div class="surface-20">
    <button class="fa-regular fa-ellipsis btn-edit cursor align-right"
            type="button"
            data-modal="true"
            data-target="#editMemberModal"
            data-id="@Model.Id"
            data-image="@Model.UserImageUrl"
            data-firstname="@Model.FirstName"
            data-lastname="@Model.LastName"
            data-email="@Model.Email"
            data-phone="@Model.Phone"
            data-jobtitle="@Model.JobTitle"
            data-streetname="@Model.Address?.StreetName"
            data-streetnumber="@Model.Address?.StreetNumber"
            data-postalcode="@Model.Address?.PostalCode"
            data-city="@Model.Address?.City"
            data-day="@Model.DayOfBirth"
            data-month="@Model.MonthOfBirth"
            data-year="@Model.YearOfBirth">
        </button>

    <div class="project-form-container text-center">

        <div class="image-container circle">
            <img class="image-preview" src="@Model.UserImageUrl" />
        </div>

        <h4>@Model.FirstName @Model.LastName</h4>
        <p class="job-title-container">@Model.JobTitle</p>
        <p class="mt-4">@Model.Email</p>
        <p class="mt-4">@Model.Phone</p>
        <button class="button btn-message btn-gray mt-4">Message</button>
    </div>
</div>